<div class="row-fluid">
  <div class="span12">
    <h3 class="page-title">Releases</h3>
  </div>
</div>

<div class="table-releases-box">

<% if (releases.length) { %>

  <table class="table table-bordered table-striped releases-table">
    <thead>
      <tr>
        <th>OpenStack Release</th>
        <th>Version</th>
        <th>Operating System</th>
        <th>Status</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% releases.each(function(release) { %>
        <tr>
          <td><%- release.get('name') %></td>
          <td><%- release.get('version') %></td>
          <td><%- release.get('operating_system') %></td>
          <td class="release-status">
            <span class="<%= release.get('available') ? 'available"> Available' : 'not-available"> Not available' %></span>
          </td>
          <td data-release="<%- release.id %>">
            <% if (!release.get('available')) { %>
              <span class="btn-link btn-rhel-setup">Setup</span>
              <div id="download_progress" class="hide">
                <div class="progress progress-success progress-striped active">
                  <div class="bar" style="width: 0%;"></div>
                </div>
                <div class="bar-title">Downloading RHEL</div>
              </div>
            <% } %>
          </td>
        </tr>
      <% }) %>
    </tbody>
  </table>

<% } else { %>
  <div class="alert">There are no releases available.</div>
<% } %>

</div>
